.header{
    margin-bottom: 100px;
    .banner {
        position: relative;
        background-image: url(./img/Hero.png);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        .custom-select {
          position: absolute;
          width: 80%;
          left: 10%;
          top: 40%;
          background: rgba(255, 255, 255, 0.7);
          border: 3px solid #ffffff;
          border-radius: 3px;
        }
        .hotspot {
          position: absolute;
          left: 12%;
          bottom: -20%;
          width: 80%;
          z-index: 10;
          background: white;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          button {
            margin-bottom: 10px;
            padding: 5px 25px;
          }
        }
      }
}

.btn-purple {
  background-color: #8a82cc;
  color: #fff;
}
.btn-yellow {
  background-color: #ffa782;
  color: #fff;
}
.btn-orange {
  background-color: #f5d005;
  color: #fff;
}
.btn-blue {
  background-color: #559ac8;
  color: #fff;
}

.separate {
  text-align: center;
  position: relative;
  margin: 0 auto;
  bottom: 0;
  hr {
    margin: 0 auto;
    border: 1px dashed #559ac8;
  }
  div {
    position: absolute;
    left: 50%;
    top: 30%;
    text-align: center;
    line-height: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #559ac8;
    padding: 3px;
    box-sizing: border-box;
  }
}

.content {
  margin: 0 auto;
  h2 {
    color: #8a82cc;
  }
  .card {
    .img-top {
      position: relative;
      .card-img-top{
        width: 100%;
        height: 150px;
        background-size: cover;
        background-position: center;
      }
      h3 {
        position: absolute;
        color: white;
        left: 2%;
        bottom: 0;
      }
      p {
        position: absolute;
        color: white;
        right: 2%;
        bottom: 0px;
        margin-bottom: 8px;
      }
    }
    .card-body {
      .d-flex {
        margin-bottom: 5px;
      }
      .img-icons {
        width: 20px;
        text-align: center;
        margin-right:5px;
      }
    }
  }
}
.footer {
    .container{
        background: #559AC8;
    }
}